---
import MediaGrid from '@/components/MediaGrid.astro'
import PlayMediaCard from '@/components/PlayMediaCard.astro'
import SelectSource from '@/components/SelectSource.astro'
import TVShowPlayer from '@/components/TVShowPlayer.astro'
import Layout from '@/layouts/Layout.astro'
import { getImagePath, getSeasonOrEpisode } from '@/utils'
import { getMovieUrl, getSource } from '@/utils/sources'
import { getMovie, getTVShow } from '@/utils/tmdb'
import { Image } from 'astro:assets'

const { media, mediaId } = Astro.params
const id = +(mediaId ?? 0)

if (media !== 'tv' && media !== 'movie') return Astro.redirect('/')

const result = await (media === 'movie' ? getMovie(id) : getTVShow(id)).catch(
  () => null
)

if (!result) {
  return Astro.redirect('/')
}

const isTV = result.media_type === 'tv'

const currentSource = getSource(Astro.url.searchParams.get('source'))
const iframeUrl = getMovieUrl(currentSource.id, id)

const season = getSeasonOrEpisode(Astro.url.searchParams.get('season'))
const episode = getSeasonOrEpisode(Astro.url.searchParams.get('episode'))

const mediaTitle = isTV ? `${result.name} S${season}E${episode}` : result.title

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=60, stale-while-revalidate=30'
)
---

<Layout title={`Watch ${mediaTitle} | Wovie`}>
  <div class='min-h-svh p-4 pt-20 sm:p-12 sm:pt-28'>
    <div id='opacity-layer' class='pointer-events-none !fixed !inset-0 -z-[1]'>
    </div>
    <Image
      width='1280'
      height='720'
      src={getImagePath(result.backdrop_path, 'w1280')}
      alt={mediaTitle}
      class='fixed inset-0 -z-[10] aspect-video h-svh w-full object-cover blur'
    />
    <div
      class:list={['z-20 mx-auto space-y-4', isTV ? 'max-w-7xl' : 'max-w-5xl']}
    >
      <div class='mx-auto flex w-full justify-between px-3 text-gray-300'>
        <div class='flex w-full items-center gap-2'>
          <a class='shrink-0 hover:underline' href='/'>Home</a>
          <span class='pointer-events-none select-none'>/</span>
          <p class='shrink-0 cursor-default'>{isTV ? 'Show' : 'Movie'}</p>
          <span class='pointer-events-none select-none'>/</span>
          <p class='line-clamp-1 cursor-default text-[#00c1db]'>
            {mediaTitle}
          </p>
        </div>
      </div>
      {
        isTV ? (
          <TVShowPlayer {...result} />
        ) : (
          <div class='aspect-video w-full flex-grow rounded-2xl bg-white/10 shadow-2xl'>
            <iframe
              title={mediaTitle}
              class='aspect-video w-full rounded-2xl bg-transparent'
              allowfullscreen
              src={iframeUrl}
            />
          </div>
        )
      }
      <PlayMediaCard
        cast={result.credits.cast}
        genres={result.genres}
        image={result.poster_path}
        overview={result.overview}
        rating={result.vote_average}
        releaseDate={isTV ? result.first_air_date : result.release_date}
        title={mediaTitle}
      />
      {!isTV && <SelectSource />}
      <div role='separator' class='h-[1px] w-full bg-white/20 sm:!my-16'></div>
      <MediaGrid
        media={media}
        title='You might also Like'
        class='!p-0 sm:!p-0 [&_h2]:font-normal'
        results={result.recommendations.results}
      />
    </div>
  </div>
</Layout>
