---
import { MediaPoster } from './MediaPoster'
import type { Movie, Recommendation, TV } from 'tmdb-ts'

export interface Props {
  media: 'tv' | 'movie'
  title: string
  results: Array<Movie | TV | Recommendation>
  class?: string
}

const { media, results, title, class: className } = Astro.props

const showIcon = Astro.slots.has('icon')
---

<div class:list={['flex w-full flex-col gap-6 p-4 sm:px-12', className]}>
  <div class='z-10 flex w-full items-center gap-2 py-1'>
    {
      showIcon && (
        <div class='flex size-6 items-center justify-center rounded bg-primary-500'>
          <slot name='icon' />
        </div>
      )
    }
    <h2 class='text-lg font-medium tracking-wide text-white md:text-2xl'>
      {title}
    </h2>
  </div>
  <div
    class='relative z-10 grid w-full grid-cols-[repeat(auto-fill,minmax(150px,1fr))] flex-wrap gap-4'
  >
    {
      results.map(movie => (
        <MediaPoster
          media={media}
          id={movie.id}
          rating={movie.vote_average}
          image={movie.poster_path}
          language={movie.original_language}
          releaseDate={
            'release_date' in movie ? movie.release_date : movie.first_air_date
          }
          title={'title' in movie ? movie.title : movie.name}
        />
      ))
    }
  </div>
</div>
