---
import { MediaPoster } from './MediaPoster'
import type { Movie, Recommendation, TV } from 'tmdb-ts'

export interface Props {
  media: 'tv' | 'movie'
  results: Array<Movie | TV | Recommendation>
}

const { media, results } = Astro.props
---

<div
  class='relative z-10 grid w-full grid-cols-[repeat(auto-fill,minmax(150px,1fr))] flex-wrap gap-4'
>
  {
    results.map(movie => (
      <MediaPoster
        media={media}
        id={movie.id}
        rating={movie.vote_average}
        image={movie.poster_path}
        language={movie.original_language}
        releaseDate={
          'release_date' in movie ? movie.release_date : movie.first_air_date
        }
        title={'title' in movie ? movie.title : movie.name}
      />
    ))
  }
</div>
