---
import SelectSource from './SelectSource.astro'
import { getSource, getTvUrl } from '@/utils/sources'
import { getEpisodeUrl } from '@/utils/url'
import { getSeasonOrEpisode, snakeCase } from '@/utils'
import { Play, SkipBack, SkipForward } from 'lucide-astro'
import { SelectSeason } from '@/components/Player/SelectSeason'
import type { getSeasonDetails, getTVShow } from '@/utils/tmdb'

export interface Props {
  result: Awaited<ReturnType<typeof getTVShow>>
  seasonDetails: Awaited<ReturnType<typeof getSeasonDetails>>
}

const { seasonDetails } = Astro.props
const { id, seasons, name } = Astro.props.result

const season = getSeasonOrEpisode(Astro.url.searchParams.get('season'))
let episode = getSeasonOrEpisode(Astro.url.searchParams.get('episode'))

const episodeDetails = seasonDetails.episodes.find(
  details => details.episode_number === episode
)

if (!episodeDetails) {
  episode = seasonDetails.episodes[0]?.episode_number ?? 1
}

const firstEpisode = seasonDetails.episodes[0]?.episode_number ?? 1
const lastEpisode =
  seasonDetails.episodes[seasonDetails.episodes.length - 1]?.episode_number ?? 1

const tvSeasons = seasons.filter(season => season.season_number !== 0)

const currentSource = getSource(Astro.url.searchParams.get('source'))
const iframeUrl = getTvUrl(currentSource.id, id, season, episode)

const isFirstEpisode = episode <= firstEpisode
const isLastEpisode = episode >= lastEpisode
const isLastSeason = season >= tvSeasons.length
const canGoToNextSeason = isLastEpisode && !isLastSeason
---

<div class='flex w-full flex-col-reverse gap-2 shadow-2xl lg:flex-row'>
  <div
    class='flex h-[25rem] flex-col overflow-auto rounded-2xl bg-white/10 lg:aspect-video lg:h-[unset] lg:w-80'
  >
    <div
      class='flex h-14 w-full items-center justify-between gap-2 overflow-hidden bg-white/5 px-3 py-4'
    >
      <p>Episodes</p>
      <SelectSeason
        client:idle
        id={id}
        seasons={tvSeasons}
        activeSeason={season}
        title={snakeCase(name)}
        sourceId={currentSource.id}
      />
    </div>
    <div class='custom-scrollbars overflow-y-auto'>
      {
        seasonDetails.episodes.map(episodeDetails => (
          <a
            aria-current={episodeDetails.episode_number === episode}
            href={getEpisodeUrl(
              id,
              name,
              season,
              episodeDetails.episode_number,
              currentSource.id
            )}
            class='group relative line-clamp-1 flex h-12 w-full flex-shrink-0 items-center justify-between gap-1 p-4 text-sm even:bg-white/5 hover:bg-white/10 hover:text-white aria-[current=true]:!bg-white/20 aria-[current=true]:!text-primary-400'
          >
            <p class='flex gap-2 tracking-wide'>
              <span class='font-medium'>{episodeDetails.episode_number}.</span>
              <span class='line-clamp-1 text-start font-normal'>
                {episodeDetails.name}
              </span>
            </p>
            <span class='hidden shrink-0 items-center justify-center rounded-full bg-primary-400 p-1 group-aria-[current=true]:flex'>
              <Play width='10' height='10' fill='black' stroke='black' />
            </span>
          </a>
        ))
      }
    </div>
  </div>
  <div class='flex flex-grow flex-col gap-2'>
    <div class='rounded-2xl bg-white/10'>
      <iframe
        title={`${name} - S${season}E${episode}`}
        class='aspect-video w-full rounded-2xl bg-transparent'
        allowfullscreen
        src={iframeUrl}></iframe>
    </div>
    <div
      class='flex w-full items-center justify-end gap-2 rounded-2xl bg-white/10 p-2'
    >
      {
        !isFirstEpisode && (
          <a
            href={getEpisodeUrl(
              id,
              name,
              season,
              episode - 1,
              currentSource.id
            )}
            class='flex items-center justify-center gap-1 rounded-2xl bg-black/50 px-4 py-2 text-lg text-white'
          >
            <SkipBack class='size-5 text-white' />
            Prev
          </a>
        )
      }
      {
        (!isLastEpisode || !isLastSeason) && (
          <a
            href={getEpisodeUrl(
              id,
              name,
              canGoToNextSeason ? season + 1 : season,
              canGoToNextSeason ? 1 : episode + 1,
              currentSource.id
            )}
            class='flex items-center justify-center gap-1 rounded-2xl bg-black/50 px-4 py-2 text-lg text-white'
          >
            {canGoToNextSeason ? 'Next Season' : 'Next'}
            <SkipForward class='size-5 text-white' />
          </a>
        )
      }
    </div>
    <SelectSource />
  </div>
</div>
