---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import { ViewTransitions } from 'astro:transitions'
import '@/styles/globals.css'

interface Props {
  title: string
  description: string
  image: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang='en' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <title>{title}</title>
    <ViewTransitions />
    <!-- open graph -->
    <meta property='og:image' content={image} />
    <meta property='og:image:width' content='1280' />
    <meta property='og:image:height' content='720' />
    <meta property='og:image:alt' content={title} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <!-- twitter -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={image} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
